html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #ffcc002b;
}

section {
    width: 100%;
    padding: 65px 0;
}

button {
    padding: 15px 30px;
    display: block;
    width: -moz-max-content;
    width: max-content;
    color: #000;
    background-color: lightgray;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffcc00;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
main {
    margin-top: 70px;
}

.backgroundMain {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 100%;
    opacity: 0.9;
    left: -50%;
    top: 0;
}

.btn {
    background-color: #ffcc00;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.section-title {
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    width: -moz-max-content;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    align-items: center;
}
@media (max-width: 800px) {
    .wrap {
        grid-template-columns: 1fr;
    }
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col p,
.col h1 {
    text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black,
        1px 1px 0px black; /* Черная обводка */
}

.back {
    color: #000;
    text-decoration: underline;
    margin-bottom: 30px;
    display: block;
    width: -moz-max-content;
    width: max-content;
    font-size: 19px;
}

h1 {
    font-weight: 600;
    font-size: 50px;
}
@media (max-width: 480px) {
    h1 {
        font-size: 35px;
    }
}

h2 {
    font-weight: 600;
    font-size: 35px;
}
@media (max-width: 480px) {
    h2 {
        font-size: 28px;
    }
}

h3 {
    font-weight: 600;
    font-size: 22px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
}

h5 {
    font-weight: 600;
    font-size: 16px;
}

h6 {
    font-weight: 600;
    font-size: 14px;
}

p {
    font-size: 16px;
}
@media (max-width: 480px) {
    p {
        font-size: 14px;
    }
}

.privacy {
    padding: 100px 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.privacy__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    background-color: #ffcc00;
    overflow: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo a {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}
.logo img {
    width: 40px;
    border-radius: 20px;
}

.menu {
    display: flex;
    gap: 25px;
}
.menu__item-link {
    color: white;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .menu {
        position: fixed;
        background: #131418;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;
    }
    .menu.active {
        display: flex;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        pointer-events: all;
        justify-content: center;
        align-items: center;
        z-index: 22;
        animation: fade 0.1s linear;
    }
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;
    }
    .burger.active-burger:before {
        background: #fff;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
    }
    .burger.active-burger:after {
        background: #fff;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
    .burger.active-burger span {
        transform: scale(0);
    }
    .burger:before,
    .burger:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
    .burger:before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger span {
        position: absolute;
        top: 9px;
        right: 0;
        width: 100%;
        background: #fff;
        height: 2px;
        transform: scale(1);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
    .menu__item {
        margin-top: 15px;
    }
    .menu__item-link {
        color: white;
    }
}
.hero {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    color: white;
    position: relative;
    height: 100vh;
    /* overflow: hidden; */
}
.hero__img img {
    width: 100%;
    border: 10px solid beige;
    border: 5px solid rgba(255, 255, 255, 0.7); /* Цвет и стиль границы */
}
.tours__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px 20px;
}
.tours__card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
}
.tours__card img {
    width: 100%;
}
.tours__card h3,
.tours__card h5 {
    text-align: center;
    padding: 15px;
}

.about {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.about__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px 20px;
}
.about__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    background-color: #ffcc00;
    color: #fff;
}
.about__item img {
    max-width: 100%;
    width: 100%;
}

.work-blank {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.work-blank-num {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 28px;
}
.work-blank-item p {
    margin-top: 10px;
}
.city-selection {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.city-title {
    text-align: center;
    margin-bottom: 10px;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contact-info {
    font-weight: 900;
    margin-bottom: 20px;
}
.address-link {
    text-decoration: none;
    color: black;
}

.logos__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 20px;
}
.logos__wrapper img {
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.tarifs__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px 40px;
    align-items: center;
}
.tarifs__card {
    border-radius: 10px;
    border: 4px solid #ffcc00;
    background-color: #fafafa;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 80px 30px;
    transition: all 0.3s;
}
.tarifs__card h4 {
    font-size: 24px;
}
.tarifs__card span {
    font-size: 14px;
}
.tarifs__card button {
    background-color: #ffcc00;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    transition: all 0.3s;
}
.tarifs__card p {
    color: gray;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
}
.footer__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 480px) {
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
.footer__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
@media (max-width: 480px) {
    .footer__col {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.footer__col a {
    font-size: 18px;
    color: #fff;
    transition: all 0.3s;
}
@media (max-width: 480px) {
    .footer__col a {
        text-align: center;
        display: block;
        width: -moz-max-content;
        width: max-content;
    }
}

.contact__wrapper {
    padding: 100px 80px;
    background: rgb(221, 221, 221);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__wrapper-work {
    padding: 100px 80px;
    background: rgb(221, 221, 221);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.taxi-driver-img {
    width: 500px;
    border-radius: 30px;
}
@media (max-width: 1240px) {
    .contact__wrapper-work {
        flex-direction: column;
    }
    .taxi-driver-img {
        width: 460px;
    }
}
@media (max-width: 768px) {
    .contact__wrapper {
        padding: 50px;
        border-radius: 20px;
    }
    .contact__wrapper-work {
        padding: 50px;
        border-radius: 20px;
    }
    .taxi-driver-img {
        width: 360px;
    }
}
@media (max-width: 480px) {
    .contact__wrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    .contact__wrapper-work {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    .taxi-driver-img {
        width: 300px;
    }
}

.form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form input,
.form textarea {
    border: 1px solid gray;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.form textarea {
    max-width: 100%;
    max-height: 300px;
    min-height: 100px;
}
.form a {
    color: black;
}
.form__button {
    background-color: #ffcc00;
    color: #fff;
    width: 100%;
    margin-top: 20px;
}

.faq-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.faq-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.faq-container {
    max-width: 1200px;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #333;
    transition: background-color 0.3s;
}

.faq-question span {
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    font-size: 1rem;
    color: #666;
    transition: max-height 0.3s ease-in-out;
}

.faq-answer p {
    margin: 10px 0;
}

.faq-item.active .faq-answer {
    max-height: 100px;
}

.faq-item.active .faq-question span {
    transform: rotate(45deg);
}

.why-choose-us {
    padding: 60px 20px;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: auto;
}

.why-choose-header {
    text-align: center;
    margin-bottom: 40px;
}

.why-choose-header h2 {
    font-size: 2.5rem;
    color: #333;
}

.why-choose-header p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.benefit-item {
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    max-width: 250px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.benefit-item img {
    width: 60px;
    margin-bottom: 20px;
}

.benefit-item h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.benefit-item p {
    font-size: 0.95rem;
    color: #666;
}

a {
    transition: all 0.2s ease-in-out;
    text-decoration: underline;
}

.vegas-title {
    text-align: center;
    margin-bottom: 10px;
}

.slider {
  margin-top: 15px;
    display: flex;
    gap: 15px;

    transition: transform 0.5s ease-in-out;
}
.review {
    min-width: 45%;
    width: 100px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.author {
    font-weight: bold;
    color: #0077b6;
    margin-top: 10px;
}
.buttons {
    margin-top: 20px;
    display: flex;
}
.btn {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #0077b6;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    background-color: #ffd700;
}

@media (min-width: 1025px) {
    .btn:hover {
        transform: scale(1.05);
    }
}

.history {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 1025px) {
    a:hover {
        color: #927501;
    }
    .btn:hover {
        background-color: #fbd642;
    }
    .tarifs__card:hover {
        box-shadow: 1px 1px 30px 1px rgba(240, 0, 0, 0.5);
    }
    .tarifs__card button:hover {
        opacity: 0.8;
    }
    .footer__col a:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
    .faq-question:hover {
        background-color: #ececec;
    }
    .benefit-item:hover {
        transform: translateY(-10px);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    }
}
